{% extends 'base.html' %}

{% block content %}


<div class="container container-block border rounded px-4">

    <blockquote class="blockquote">    
        <h1 class="display-1 center text-center">Добро пожаловать на сайт прохождения опросов!</h1>
    </blockquote>
    <blockquote class="blockquote">    
        <h2 class="display-6 center text-center">Кажется, что-то пошло не так, пожалуйста, обратитесь к сотруднику для решения проблемы</h2>
    </blockquote>     

</div>

{% endblock %}