{% extends 'base.html' %}

{% block content %}


<div class="container">
   <div class="container container-block border rounded px-4">
        <h1 class="display-4">{{ survey.title }} </h1>
        <blockquote class="blockquote">
            <p>{{ survey.description }}</p>
        </blockquote>
        
    </div>

    {% if user.is_superuser %}
    <div class="container container-block border rounded px-3 py-2">
        {% include "surveys/components/admin_panel.html" %}
    </div>
    {% endif %}
    
    <div class=" container container-block py-3 px-3 mt-2 border rounded" >
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary">
        </form>

    </div>

</div>

{% endblock %}