{% extends 'base.html' %}

{% block content %}


<div class="container">
   <div class="container container-block border rounded px-4">
        <h1 class="display-4">{{ survey.title }} </h1>
        <blockquote class="blockquote">
            <p>{{ survey.description }}</p>
        </blockquote>
        
    </div>

    {% if user.is_superuser %}
    <div class="container container-block border rounded px-3 py-2">
        {% include "surveys/components/admin_panel.html" %}
    </div>
    {% endif %}
    
    {% if can_take_survey or user.is_superuser %}
        <div class=" container container-block py-2 px-3 mt-2 border rounded" >
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if not user.is_superuser %}
                <input type="submit" class="btn btn-primary">
                {% endif %}
            </form>

        </div>
    {% else %}
        <div class="container container-block border rounded px-3 py-2">
            <h1 class="display-6">Вы уже проходили этот опрос</h1>
        </div>
    {% endif %}

</div>

{% endblock %}